<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804771459012-1g4uhnpf7fqrmqhd13qrv4jle8reqq3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804771459012-1g4uhnpf7fqrmqhd13qrv4jle8reqq3u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804771459012-bicflnj5cect49hutva54khnm9kc459m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyD6Z2uOdvjW-VB4RqH3HGVlkf0d365I</string>
	<key>GCM_SENDER_ID</key>
	<string>804771459012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vm.expense</string>
	<key>PROJECT_ID</key>
	<string>flutter-expense-d4f96</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-expense-d4f96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804771459012:ios:473840713e3f89c2a47e91</string>
</dict>
</plist>